.form__item {
  display: block;
  vertical-align: top;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border: 1px dashed #b8b8b8;
  background-color: $color-white;
  font-size: $font_default;
  color: $font-color_dark;
  
  &:focus {
    outline: 0;
    border-color: $color-blue-30;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &:invalid {
    //border-color: $color-peach; // TODO: не забыть про валидацию
  }

  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}

.error {
  border-color: #d24a43;
}

.form__item_big {
  padding: 20px 12px;
}

.form__textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px dashed #b8b8b8;
  box-shadow: none;
  font-size: $font_default;
  color: $font-color_dark;
  resize: none;
  margin-bottom: 24px;
  height: 120px;

  &:focus {
    outline: 0;
    border-color: $color-blue-30;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}

.form__textarea_custom {
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  box-shadow: none;

  &:focus {
    outline: 0;
    border-color: transparent;
  }
}