.popup_wrapper {
  position: fixed;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.popup {
  width: auto;
  background-color: $color-white;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 25%;
  z-index: 4;
    &_inner {
      width: 100%;
      padding: 70px 60px 60px 60px;
      .title {
        margin-bottom: 12px;
      }
      .descr {
        opacity: 0.6;
        font-size: 12px;
      }
        &__body {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
    }
}

.visible_popup {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  pointer-events: auto;
  overflow-y: auto;
}

.stop {
  overflow: hidden;
}

.closepop {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross-pop {
  cursor: pointer;
}

.poph {
  font-size: 30px;
  margin: 0;
}

.pop-text {
  margin-bottom: 20px;
}